.blogbtn {
  width: 170px;
  height: 60px;

  background: #dd4f05;
  border-radius: 4px;
  color: #ffffff;
}

.leftpics {
  width: 474px;
  height: 259px;
  left: 761px;
  top: 4079px;
  filter: drop-shadow(3px 4px 20px rgba(0, 0, 0, 0.11));
  border-radius: 6px 6px 9a0px 6px;
}

.leftpic {
  width: 335px;
  height: 178px;
  left: 925px;
  top: 4189px;
  background: #dd4f05;
  border-radius: 0px 0px 110px 0px;
}

.contact {
  height: 96px;
  left: 181px;
  right: 858.14px;
  top: calc(50% - 96px / 2 - 48.5px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  padding: 0 3rem 0 3rem;
}
.contactus {
  margin-top: 1rem;
}

.btnsubmit {
  width: 426px;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #dd4f05;
  border-radius: 6px;
}
.formfield{
  height: 62px !important;
  width: 426px !important;
  left: 753px !important;
  top: 385px !important;
  border-radius: 6px !important;  
}

.inputpartner {
  width: 295px;
  height: 58px;
  left: 673px;
  top: 194px;
  background: #ffffff;
  border-radius: 6px;
  border: 2px solid #dd4f05;
  color: #dd4f05;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.forms {
  
  height: 787px;
  left: 673px;
  top: 194px;
  background: #ffffff;
  border-radius: 6px;
}
.inputstyle {
  
  top: 23.9%;
  bottom: 72.25%;

  background: #ffffff;
  border: 1px solid #282828;
  box-sizing: border-box;
  border-radius: 6px;
  height: 62px;
  
}
