.prodbody {
  height: 96px;
  left: 186px;
  right: 850px;
  top: calc(50% - 96px / 2 - 1173px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.header-box{
   
    height: 531px;
    left: 639px;
    top: 154px;
}

.prodhead {
  width: 373px;
  height: 56px;
  left: 181px;
  top: 250px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
}

.heading {
  left: 181px;
  top: 250px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0.2px;
}

.writeup {
  top: calc(50% - 96px / 2 - 1173px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-left: 3rem;
}

.positionitems {
  margin-left: 3rem;
}

@media screen and (max-width:400px) {
    .positionitems {
        margin-left: 0rem;
    }
}

.svgitems {
  margin-left: 5.5rem;
}

.firstimg {
  position: relative;
  width: 421px;
  height: 256px;
  left: 1.3rem;
  top: 0px;
  filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
}

.middleimg {
  width: 421px;
  height: 255px;
  left: 0rem;
  top: 0rem;
}

.middleimgg{
left: 32.42%;
right: 9.79%;
top: 0%;
bottom: 46.4%;

}

.topimg {
  position: absolute;
  height: 255px;
  top: 4rem;
  filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
  right: 11.43%;
  bottom: 14.15%;
}

@media screen and (max-width:400px) {
    .topimg{
  position: absolute;
  height: 255px;
  top: 8rem;
  filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
  right: 11.43%;
  bottom: 44.15%;
    }
}

.topimgg{
    left: 0%;
right: 23.43%;
top: 16.47%;
bottom: 14.15%;
}

.imgholder{
    width: 623px;
height: 431px;
left: 639px;
top: 154px;
filter: drop-shadow(0px 30px 40px rgba(212, 217, 232, 0.2));
}

.body {
  width: 1440px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(221, 79, 5, 0.06);
}

@media screen and (max-width:688px) {
    .body{
        width: 688px;
    }
}

.boxx {
  height: 373px;
  margin-bottom: 3rem;
  background: #ffffff;
}

@media screen and (max-width: 688px) {
.boxx{
    width: 60%;
}
} 

.boxtext {
  height: 44.46px;
  left: 552px;
  right: 253px;
  top: calc(50% - 44.46px / 2 - 618.77px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.headeralign {
  text-align: center;
}

.header1 {
  height: 32px;
  left: 552px;
  right: 405px;
  top: calc(50% - 32px / 2 - 677px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
}

.sourcebox {
  margin-top: 8rem;
  
  height: 100%;
 
}

.sourceproapp {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-radius: 8px solid #dd4f05;
}

.formboxd {
  display: flex;
}

.box-shape{
    width: 1134px;
height: 520px;
gap: 40px;
}

@media screen and (max-width: 688px) {
    .box-shape {
        width: 550px;
    }
}

.formbox {
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  padding: 40px 32px;
  height: 366px;
  box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.11);
}
.box1 {
    width: 338px;
  top: 1552px;
  box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 255);
  
}

@media screen and (max-width: 688px) {
    .box1 {
        width: 340px;
    }
}

@media screen and (max-width: 688px) {
    .box2 {
        width: 300px;
    }
}

@media screen and (max-width: 688px) {
    .box3 {
        width: 300px;
    }
}

.box2 {
    width: 338px;
  top: 1552px;
  box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 255);
  
}
.box3 {
    width: 338px;
  top: 1552px;
  box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 255);
  
}

.itemcolor {
  color: #dd4f05;
}

.blockimg {
  width: 119px;
  height: 105px;
  left: 1168px;
  top: 1380px;
  background: #dd4f05;
}

.radioitem {
  display: inline !important;
  height: 13px !important;
}

.croptop {
  margin-top: 1rem;
}

@media screen and (max-width: 688px) {
    .croptop{
        margin-top: 45rem;
    }
}

.scndimg{
    width: 623px;
    height: 431px;
    left: 639px;
    top: 154px;
    filter: drop-shadow(0px 30px 40px rgba(212, 217, 232, 0.2));
        }
