.itemone{
    display: grid;
    grid-column: 1 / span 3;
    grid-template-columns: auto auto auto;
  padding: 0px;
  

}

.grid-item{

  padding: 20px;
  font-size: 10px;
  margin: 0px 15px 0px 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.10);
}

.paragraphx{
left: 14.65%;
right: 63.12%;
top: 21.8%;
bottom: 73.52%;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;
}

.heading{
top: 20.01%;
bottom: 78.74%;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
font-feature-settings: 'salt' on, 'liga' off;
color: #18191F;
}

.readmorre{
  color: #DD4F05 !important;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
}

.eventt{
  position: relative;
}

.texts{
  position: absolute;
  bottom: 8px;
}

.event{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
}

.bgg{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.4) 79.3%);
}
