* {
	font-family: 'Mulish', sans-serif;
}

p,h1,h2,h3,h4,h5 {
	color: #282828;
}

.checkbox-label{
	padding: 10px;
}


#header-text{
    margin-top: 15px;
}

.password-content h3{
	font-size: 1.8rem;
	font-weight: 700;
}

.password-content{
   padding:2rem 7rem;
   
}
.password-form {
	margin-top: 10px;
}

.password-form label {
	font-size: .95rem;
	font-weight: 400;
}

.password-form .input {
	height: 50px;
}

.password-form button {
	background: #DD4F05;
	border-color: #DD4F05;
	opacity: 1;
	margin-bottom: 35px;
	margin-top: 10px;
    color: #ffff;
}

.password-form button:hover {
	background: #DD4F05;
	border-color: #DD4F05;
	opacity:.9;
}
.password-form {
	width: 100%;
	border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
}
.error-message{
    color: #D50000;
    font-weight: 400;
    font-size: 12px;
}
#password-image{
    background: #E5E5E5;
    height: 100%;
    text-align: center;
    padding: 9rem;
}
#password-page{
    background: #E5E5E5;
    height: 100vh;
}
#password-part{
    background: #ffff;
}

@media (max-width: 768px) {
	.password-content{
		padding: 2rem;
		margin-top: 1rem;
	 }
     #password-image{
       display: none;
    }

}









