#seller-page {
  height: 100vh !important;
}
#register-section{
  height: 100vh;
  overflow: scroll;
}
.seller-page h3 {
  font-size: 1.8rem;
  font-weight: 700;
}
.info-txt {
  float: right;
}

.checkbox-label {
  padding: 8px;
}
.register-map-img {
  height: 100vh !important;
  background-image: url(../../../photos/grainMap.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#page-num {
  margin-top: 15px;
}

.seller-page {
  padding: 0.5rem 6rem;
}
.first-register-content {
  margin-top: 30px;
}

.first-register-content .input {
  height: 50px;
}

.first-register-content button {
  background: #dd4f05;
  border-color: #dd4f05;
  opacity: 1;
  margin-bottom: 35px;
  margin-top: 10px;
}

.first-register-content button:hover {
  background: #dd4f05;
  border-color: #dd4f05;
  opacity: 0.9;
}

.info-txt {
  float: right;
  font-weight: 600;
}

@media (max-width: 768px) {
  .seller-page {
    padding: 2rem;
    margin-top: 1rem;
  }
}
