*{
    font-family: 'Mulish', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p,h1,h2,h3,h4,h5 {
	color: #282828;
}
html,body{
    height: 100vh;
}
button{
    background-color:#DD4F05 ;
    box-shadow:none !important;
    outline:0px !important;
    color: #ffff;
    padding: 12px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
}

.input{
    height: 50px;
    font-size: .9rem;
    background-color: #FFFFFF!important;
    box-shadow:none !important;
    outline:0px !important;
    border-radius: 4px;
}

input {
    height: 40px;
    border-radius: 4px;
    box-shadow:none !important;
    outline:0px !important;
}

.form-control:focus {
  color: #282828;
  background-color: #FFFFFF;
  border-color: #DD4F05;
}

select{
    height: 50px;
    font-size: .9rem;
    background-color: #FFFFFF!important;
    box-shadow:none !important;
    outline:0px !important;
    border-radius: 4px;
}

label {
	font-size: .95rem;
	font-weight: 400;
}