.top{
    width: 100vw;
    height: 509px;
    background: rgba(221, 79, 5, 0.07);
    left: 0%;
    right: 0%;
    }

    .faqtop{
      margin-top: 20rem;
    }

    .accordion-w{
      padding: 0 5rem;
    }
  
  .faqss{
    width: 1110px;
  height: 56px;
  left: 165px;
  top: 260px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  }
  
  .faqsheading {
    width: 165px;
  height: 40px;
  left: 165px;
  top: 600px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #DD4F05;
  }
  
  .faqhead{
  width: 353px;
  left: -16px;
  font-family: 'Mulish';
  font-style: normal;
  }

  .inputstyle{
    left: 52.29%;
  right: 18.12%;
  top: 23.9%;
  bottom: 72.25%;
  
  background: #FFFFFF;
  border: 1px solid #282828;
  box-sizing: border-box;
  border-radius: 6px;
  height: 62px;
  width: 426px;
  } 

  .text-color{
    color: #DD4F05;
  }

  .searchboxx{
    background-color: rgba(221, 79, 5, 0.2) !important;
  }

  .headerr{
    width: 1028.03px;
left: 165px;
font-family: 'Mulish';
font-style: normal;
font-weight: 800;
font-size: 44px;
  }

  .borderliner{
    width: 350px;
height: 0px;
left: 31px;
top: 70px;
border: 1px solid #D9E3E9;
  }